h1 {
    font-size: 100pt;
    color: white;background-color: black;
    text-align: center;
    }
p1 {
  font-size: 70pt;
  color: white;background-color: black;
  text-align: center;
}
a{ 
  font-size: 40pt;
  color: Dodgerblue;
  text-align: center;
}